* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.canva {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(http://media.futurebutterflies.net/houston-besomeone.jpg)no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	
}

.offcanvas-title{
	color: white;
	font-size: 25px
}
.navbar-nav a{
	color: white;
	transition: all 0.5s;
}

.navbar-nav a:hover{
	color: rgb(168, 37, 37);
}
